$breakpoint-desktop: 768px;
$purple: hsl(257, 40%, 49%);

body {
  background: url('../images/bg-mobile.svg') $purple no-repeat;
  background-size: auto;
  color: white;
  font-family: "Open Sans";
  margin: 50px;

  @media (min-width: $breakpoint-desktop) {
    background: url('../images/bg-desktop.svg') $purple no-repeat;
    height: 100%;
  }

  .container {

    @media (min-width: $breakpoint-desktop) {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 100%;
      margin: 30px 0px 0px;
    }

    .main-image {
      margin: 50px 0px;

      img {
        height: auto;
        margin: auto;
        width: 100%;
      }
    }

    .content {
      text-align: center;

      @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        height: 100%;
        padding: 40px 0px 0px 40px;
        text-align: left;
      }

      button {
        background-color: white;
        border-radius: 30px;
        color: $purple;
        font-size: 14px;
        padding: 15px;
        margin: 30px 0px 40px;
        width: 75%;

        @media (min-width: $breakpoint-desktop) {
          width: 40%;
        }
      }

      .header {
        font-family: Poppins;
        font-size: 26px;
        margin: 50px 0px 20px;

        @media (min-width: $breakpoint-desktop) {
          font-size: 40px;
          margin-right: 40px;
        }
      }
    }
  }

  .logo {
    width: 40%;

    @media (min-width: $breakpoint-desktop) {
      width: 16%;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media (min-width: $breakpoint-desktop) {
      justify-content: flex-end;
    }

    .fab {
      align-items: center;
      border: 1px white solid;
      border-radius: 50%;
      display: flex;
      height: 30px;
      justify-content: center;
      margin-right: 15px;
      width: 30px;
    }
  }
}
